<section class="todoapp">
  <header class="header">
    <h1><label 	class="texte" (dblclick)="editLabel()" (click)="cancelEditing()">{{ label }} </label></h1>

    <input type="text" 
      [ngModel]="label"
      name="label" 
      class='edit'
      #newLabel
      (keyup.enter)="itemChangeLabel(newLabel.value)"
      [ngClass] = "{ 'hidden': !editable }"
    >

    <form (submit) = "appendItem(newTodoInput.value); newTodoInput.value=''" (click)="cancelEditing()">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
    </form>
  </header>
  <section class="main" *ngIf="items.length > 0" (click)="cancelEditing()">
    <section class="main" >
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
    />
    <ul class="todo-list">
      <app-todo-item [data]=items >
      </app-todo-item>
    </ul>
  </section>

  <footer class="footer">
    <span class="todo-count"><strong>{{left}}</strong> restante{{left !== 1 ? 's' : ''}}</span>
    <ul class="filters">
      <li>
        <a class="filterAll" [routerLink]="['']">Tous</a>
      </li>
      <li>
        <a class="filterActives" [routerLink]="['', 'active']" >Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" [routerLink]="['', 'completed']">Complétés</a>
      </li>
    </ul>
    <button *ngIf="completed > 0" class="clear-completed" (click)="deleteItems()">&times; Cochée{{completed !== 1 ? 's' : ''}} </button>
    <button *ngIf="items.length > 0" class="clear-completed" (click)="deleteAll()">&times; Tout</button>    
    <button class="clear-completed" >  &#8634;</button>    
    <button class="clear-completed" > &#8635; </button>    

  </footer>
</section>

<!-- Debug test 5: delete item -->
<!-- <h3>5fth version</h3>
<ul>
  <li *ngFor="let item of items">
    <input type="checkbox" [ngModel]="item.isDone" (ngModelChange)="itemDone(item, $event)">
    <input type="button" (click)="deleteItem(item)" value="Delete"/>

    <label for="">{{item.label}}</label>
    <pre>{{item|json}}</pre>

    <form (submit)="itemChange(item, newLab.value)">
      <input type="text" [ngModel]="item.label" name="label" #newLab>
    </form>
  </li>
</ul> -->