<section class="todoapp">
  <header class="header">
    <h1><label 	class="texte" (dblclick)="editLabel()" (click)="cancelEditing()">{{ label }} </label></h1>
    <input type="text" 
      [ngModel]="label"
      name="label" 
      class='edit'
      #newLabel
      (keyup.enter)="itemChangeLabel(newLabel.value)"
      [ngClass] = "{ 'hidden': !editable }"
    >
    <!-- QR Code -->
    <qrcode [qrdata]=myAngularxQrCode [width]="156" [errorCorrectionLevel]="'M'"></qrcode>
    <!-- Voice Recognition -->
    <h3 style="margin:10px;">Voice Recognition</h3>
    <button style="margin:10px; background-color: #e7e7e7; color: black; padding: 15px 32px;" type="button" (click)="startService()">Start</button>
    <button style="margin:10px; background-color: #555555; color: white; padding: 15px 32px;" (click)="stopService()">Stop</button>
    <!-- End Voice Recognition -->
    <form (submit) = "appendItem(newTodoInput.value); newTodoInput.value=''" (click)="cancelEditing()">
      <input  #newTodoInput
              value={{service.text}}  
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
    </form>
  </header>
  <section class="main" *ngIf="items.length > 0" (click)="cancelEditing()">
    <section class="main" >
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
    />
    <ul class="todo-list">
      <app-todo-item [data]=items >
      </app-todo-item>
    </ul>
  </section>

  <footer class="footer">
    <span class="todo-count"><strong>{{left}}</strong> restante{{left !== 1 ? 's' : ''}}</span>
    <ul class="filters">
      <li>
        <a class="filterAll" [routerLink]="['']">Tous</a>
      </li>
      <li>
        <a class="filterActives" [routerLink]="['', 'active']" >Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" [routerLink]="['', 'completed']">Complétés</a>
      </li>
    </ul>
    <button *ngIf="completed > 0" class="clear-completed" (click)="deleteItems()">&times; Cochée{{completed !== 1 ? 's' : ''}} </button>
    <button *ngIf="items.length > 0" class="clear-completed" (click)="deleteAll()">&times; Tout</button>    
    <button class="clear-completed"  (click)="redoOperator()"> &#8635; </button>
    <button class="clear-completed"  (click)="undoOperator()"> &#8634;</button>
    
  </footer>
</section>
