<li *ngFor="let item of data; let i=index;" 
    [ngClass]="{
              'editing': item.editing, 
              'completed': item.isDone, 
              'hidden': location == '/active' && !item.isDone || location == '/completed' && item.isDone
            }"

    >
  <div class="view">
    <input 	class			= "toggle"
            type			= "checkbox"
            name			= "fait"
            [ngModel]="item.isDone" 
            (ngModelChange)="itemDone(item, $event)"
            
    />
    <label 	class="texte" click="cancelEditing(item)" (dblclick)="edit(item, i)">{{ item.label }}</label>
    
    <button class="destroy" (click)="itemDelete(item)"></button>
  </div>
  
  <!-- <form (submit)="itemChange(item, newTextInput.value)" >
    <input type="text" 
      #newTextInput
      class = "edit" 
      [ngModel]="item.label"
  >
  </form> -->
  <input type="text" 
      [ngModel]="item.label"
      name="label" 
      #newLab 
      class = "edit" 
      (keyup.enter)="itemChange(item, newLab.value)"
  >
</li>